<div class="report-container" >
	<h1 id='report-container-header'>Power BI Report</h1>
	<div class="report-id-input">
        <select ng-model="reportIDSelection"
        		ng-options="item.id as item.name for item in testAccounts"
        		ng-change="showSelectedValue(reportIDSelection)"
        		id="pbirptid">
        		<option value="">Select Account</option>
        </select>
        <span class="report-id-input-btn">
            <button ng-click="loadReport();" class="btn btn-default">Load Report</button>
        </span>
        <br>
    </div>

    <!-- <div ng-hide="true" id="dataSelectedContainer"></div> -->
    <div id="dataSelectedContainer"></div>
	<div id="reportContainer" style="height: 500px;">
	</div>
</div>